@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic);

html, body, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, form, label, table, caption, tbody, 
tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-family: tahoma;
	background-color: transparent;
	line-height:150%;
	color:#5b5b5b;
}

body{ height:100%; }


h1, h2, h3, h4, h5, h6 {
	font-family: 'Cuprum', sans-serif;
}

a {
	color:#389ebc;
	text-decoration:none;	
}

a:hover {
	color:#389ebc;
	text-decoration:underline;	
	cursor:pointer;
}

.wrapper {
	width:980px;
	margin:0px auto;	
}

#top {
	background-image:url('../gfx/top.jpg');
	background-repeat:repeat-x;
	height:40px;
	overflow:hidden;
}

#top #logo {
	padding:10px 0;	
}

	#left ul.cats {
		position:relative;
		z-index:999;
		list-style:none;
		padding:0;
		margin:0;
	}
	
		ul.cats li {
			padding:0;
			margin:0;
			line-height:100%;
		}
	
		ul.cats li a {
			color:#5b5b5b;	
		}
		
		ul.cats li.hl:first-child {
			margin-top:0px;
		}
		
		ul.cats li.hl {
			margin-top:10px;
		}
	
			ul.cats li.hl a {
				color:#389ebc;
				font-weight:bold;
			}

#left {
	width:220px;
	float:left;
	margin-top:20px;
}

#center {
	width:745px;
	float:left;
	margin-left:15px;
}

	#centerAds {
		height:25px;
		overflow:hidden;
		padding:20px;
		margin-bottom:20px;
	}


#select {
	position:absolute;	
	margin-left:-25px;
	z-index:10;
}

#select_fill {
	height:250px;	
}



/*  Facebook settings */

.fb {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:12px;
	overflow:auto;
	background-color:#fff;
	border:solid 1px #fff;
	
}

/*  Post */

.fb .post {
	overflow:hidden;	
	padding:10px;
}

	.fb .post .img {
		float:left;
		width:60px;
	}
	
	.fb .post .txt {
		float:left;
		width:500px;
	}
	
		.fb .post .txt .name {
			margin-bottom:3px;
		}
		
		.fb .post .txt .txtbottom {
			font-size:11px;
			margin-top:5px;
			color:#999999;
		}
		
			.fb .post .txt .txtbottom a {
				color:#6d84b4;
			}
		
		.fb .post_likes {
			background-image:url('../gfx/generators/facebook/post_likes.jpg');
			background-repeat:no-repeat;
			width:381px;
			height:20px;
			margin-left:60px;
			margin-bottom:1px;
			padding-left:25px;
			padding-top:7px;
			font-size:11px;
		}
		
		
		.fb ul.comments {
			margin:0;
			padding:0;
			margin-left:60px;
		}
		
		.fb ul.comments li.first {
			background-image:url('../gfx/generators/facebook/comment_no_likes.jpg');
			background-position:left bottom;
			background-repeat:no-repeat;
			padding-top:7px;
		}
			
		.fb ul.comments li {
			list-style:none;
			background-color:#f1f2f6;	
			padding:4px;
			margin:0;
			font-size:11px;
			overflow:hidden;
			width:398px;
			color:#333333;
			line-height:130%;
			margin-bottom:1px;
		}
		
		
			.fb ul.comments li .img {
				float:left;
				width:40px;
			}
			
			.fb ul.comments li .txt {
				float:left;
				width:355px;
			}
			
				.fb ul.comments li .txt .txtbottom {
					color:#808080;
				}
		
			.fb ul.comments li a {
				color:#3b5998;
			}
			
		.fb .post_write_comment {
			background-color:#f1f2f6;
			padding:4px;	
			overflow:hidden;
			width:398px;
			margin-left:60px;
		}
		
			.fb .post_write_comment .img {
				float:left;
				width:40px;
			}
			
			.fb .post_write_comment .txt {
				float:left;
				width:355px;
			}
		
		input.fbinput, textarea.fbinput {
			background-color:#fff;
			border:solid 1px #bdc7d8;
			padding:3px 4px;
			border-radius:0;
			height:auto;
			color:#777777;
			font-size:11px;
			font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
		}



	/*  Chat */
	
	input,textarea {
		width:90%;	
	}
	
	.fb ul.chat {
		overflow:hidden;	
		margin:0;
		padding:0;
	}
	
		.fb ul.chat li {
			overflow:hidden;	
			margin:0;
			padding:0;
			margin-bottom:10px;
		}
	
		.fb ul.chat li .img {
			float:left;
			width:42px;
		}
		
		.fb ul.chat li .message {
			float:left;
			width:380px;
			color:#333333;
			line-height:140%;
			font-size:13px;
			margin-top:-4px;
		}
	
		
		.fb ul.chat li .message a {
			font-weight:bold;
			font-size:13.2px;
		}
		
		.fb ul.chat li .date {
			float:left;
			width:20px;
			color:#c4c9d1;
			font-size:11px;
			margin-left:20px;
			text-align:right;
		}
		
		.fb ul.chat li.date_seperator {
			overflow:visible;
			margin-bottom:25px;
		}
		
		.fb ul.chat li .seperator {
			text-align:center;
			border-bottom:1px solid #e8e8e8;
		}
		
		.fb ul.chat li .seperator div {
			display:inline-block;
			position:relative;
			top:10px;
			background:#fff;
			padding:0 6px;
			color:#c4bfbf;
			font-size:11px;
		}
	

ul#myimages {
	clear:both;
	overflow:auto;
	margin:0;
	padding:0;
	height:200px;
}

ul#myimages li {
	float:left;	
	background-color:#fff;
	border:solid 1px #eeeeee;
	width:45px;
	height:45px;
	padding:5px;
	list-style:none;
	margin:2px;
}

ul#myimages li:hover {
	background-color:#eeeeee;
	border:solid 1px #eeeeee;
	cursor:pointer;
}





.box {
	background-color:#fff;
	border:solid 1px #efefef;
	overflow:hidden;
	padding:10px;
	margin-top:10px;	
	border-radius:4px;
}

label {
	display:inline-block;
	text-align:center;
	font-size:11px;
	vertical-align:bottom;
}

small {
	font-size:10px;	
	color:#8c8b8b;
}

.label-for {
	margin-right:3px;
}

.center {
	text-align:center;	
}

.seperator_hor {
	background-image:url('../gfx/seperator_hor.png');
	background-repeat:no-repeat;
	background-position:center;
	width:772px;
	height:24px;	
	margin:15px 0;
}

.clear {
	clear:both;	
}


.icon 			{	vertical-align:top;	}